.about__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
}

.about__content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 1rem;
}

.about__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate400);
}

/* xs */
@media (min-width: 475px) {
  .about__content-container {
    margin-block: 1.5rem;
  }

  .about__title {
    font-size: var(--size-3xl);
  }

  .about__description {
    font-size: var(--size-base);
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .about__content-container {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .about__content-container > * {
    align-self: start;
  }

  .about__description {
    max-width: 45ch;
  }
}

/* lg */
@media (min-width: 1024px) {
  .about__title {
    font-size: var(--size-4xl);
  }

  .about__description {
    font-size: var(--size-lg);
    max-width: 60ch;
  }
}

/* xl */
@media (min-width: 1280px) {
  .about__content-container {
    margin-block: 2rem;
  }

  .about__title {
    font-size: var(--size-5xl);
  }

  .about__description {
    font-size: var(--size-xl);
    max-width: 65ch;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .about__description {
    max-width: 70ch;
  }
}
