.about__content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.about__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-align: center;
}

.about__content-description {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  margin-block: 1rem;
  max-width: 60ch;
  align-self: center;
}

/* xs */
@media (min-width: 475px) {
  .about__title {
    font-size: var(--size-3xl);
  }

  .about__content-description {
    font-size: var(--size-base);
    margin-block: 1.5rem;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .about__title {
    font-size: var(--size-4xl);
  }

  .about__content-description {
    font-size: var(--size-lg);
    grid-area: description;
  }

  .about__Content-img-wrapper {
    grid-area: image;
  }

  .about__person-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image description";
    place-items: center;
    gap: 2rem;
  }

  .about__person-container:nth-child(odd) {
    grid-template-areas: "description image";
  }
}

/* xl */
@media (min-width: 1280px) {
  .about__title {
    font-size: var(--size-5xl);
  }

  .about__content-container {
    width: 80%;
    margin-inline: auto;
  }

  .about__content-description {
    font-size: var(--size-xl);
    margin-block: 2rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .about__content-container {
    width: 70%;
  }
}
