.slideshow {
  position: relative;
}

.slideshow__slide {
  display: none;
}

.slideshow__prev,
.slideshow__next {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: var(--size-3xl);
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slideshow__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow__prev:hover,
.slideshow__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow__slide-numbertext {
  color: #f2f2f2;
  font-size: var(--size-base);
  padding: 8px 12px;
  position: absolute;
  z-index: 2;
  top: 0;
}

.slideshow__slide-img-wrapper {
  position: relative;
}

.slideshow__slide-img-wrapper::after {
  content: "";
  background-color: rgb(79, 70, 229, 0.4);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.slideshow__slide-text {
  color: #f2f2f2;
  font-size: var(--size-lg);
  padding: 8px 12px;
  position: absolute;
  z-index: 2;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .slideshow__slide-numbertext {
    font-size: var(--size-lg);
  }

  .slideshow__slide-text {
    font-size: var(--size-xl);
  }

  .slideshow__prev,
  .slideshow__next {
    font-size: var(--size-4xl);
  }
}

/* md */
@media (min-width: 768px) {
  .slideshow__slide-numbertext {
    font-size: var(--size-base);
  }

  .slideshow__slide-text {
    font-size: var(--size-lg);
  }

  .slideshow__prev,
  .slideshow__next {
    font-size: var(--size-3xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .slideshow__slide-numbertext {
    font-size: var(--size-lg);
  }

  .slideshow__slide-text {
    font-size: var(--size-xl);
  }

  .slideshow__prev,
  .slideshow__next {
    font-size: var(--size-4xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .slideshow__slide-numbertext {
    font-size: var(--size-lg);
  }

  .slideshow__slide-text {
    font-size: var(--size-xl);
  }

  .slideshow__prev,
  .slideshow__next {
    font-size: var(--size-4xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
